@model StockSale.App.Models.Domain.Provider
@{
}

<h1 class="title">Editar Proveedor</h1>

<div class="three-grid mb-4">
    <form>
        <button class="go-button" type="submit"
           asp-area=""
           asp-controller="Provider"
           asp-action="GetProductsByProvider"
           asp-route-id="@Model.Id">
                    <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                    </svg>
                    <span class="text">Productos</span>
                    <span class="circle"></span>
                    <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                    </svg>
                </button>
    </form>
        <form>
            <button class="go-button" type="submit"
                    asp-area=""
                    asp-controller="ProviderOrder"
                    asp-action="ListByProvider"
                    asp-route-id="@Model.Id">
                <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                </svg>
                <span class="text">Pedidos</span>
                <span class="circle"></span>
                <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                </svg>
            </button>
        </form>
    <form>
        <button class="go-button" type="submit"
                asp-area=""
                asp-controller="ProviderOrder"
                asp-action="GetActualProviderOrder"
                asp-route-id="@Model.Id">
            <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
            </svg>
            <span class="text">Ir al Pedido Activo</span>
            <span class="circle"></span>
            <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
            </svg>
        </button>
    </form>
</div>

<div>
    @if(Model != null)
    { 
    <form method="post">
        <div hidden>
            <label class="form-label"></label>
            <input type="text" class="form-control" id="id" asp-for="Id" readonly />
        </div>
        <div class="two-grid">
        <div class="editBox">
            <label>N° Proveedor</label>
        <input type="text" id="nprovider" asp-for="NProvider" readonly />
                </div>
        <div class="editBox">
            <label>Nombre</label>
            <input type="text" id="name" asp-for="Name" />
        </div>
        <div class="editBox">
            <label>Email</label>
            <input type="text" id="email" asp-for="Email" />
        </div>
        <div class="editBox">
            <label>Telefono</label>
            <input type="text" id="phone" asp-for="Phone" />
        </div>
        <div class="editBox">
            <label>Empresa</label>
            <input type="text" id="company" asp-for="Company" />
        </div>
        </div>

        <div class="two-grid mb-3 mt-3">
            <button type="submit" class="conf-button"
                    asp-area=""
                    asp-controller="Provider"
                    asp-action="Edit">
                    <span class="text">Actualizar</span>
            </button>
                <button class="dlt-button" type="submit" asp-area="" asp-controller="Provider" asp-action="Delete">
                    <span>
                        Eliminar
                    </span>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-miterlimit="2" stroke-linejoin="round" fill-rule="evenodd" clip-rule="evenodd"><path fill-rule="nonzero" d="m12.002 2.005c5.518 0 9.998 4.48 9.998 9.997 0 5.518-4.48 9.998-9.998 9.998-5.517 0-9.997-4.48-9.997-9.998 0-5.517 4.48-9.997 9.997-9.997zm0 1.5c-4.69 0-8.497 3.807-8.497 8.497s3.807 8.498 8.497 8.498 8.498-3.808 8.498-8.498-3.808-8.497-8.498-8.497zm0 7.425 2.717-2.718c.146-.146.339-.219.531-.219.404 0 .75.325.75.75 0 .193-.073.384-.219.531l-2.717 2.717 2.727 2.728c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.384-.073-.53-.219l-2.729-2.728-2.728 2.728c-.146.146-.338.219-.53.219-.401 0-.751-.323-.751-.75 0-.192.073-.384.22-.531l2.728-2.728-2.722-2.722c-.146-.147-.219-.338-.219-.531 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"></path></svg>
                    </span>
                </button>
        </div>
    </form>
    }
    else
    {
    <p> No se pudo encontrar al cliente</p>
    }
</div>